<!-- courses.ejs -->
<!DOCTYPE html>
<html>
  <title>Admin</title>
  <%- include('../partials/header') %>
<body>
   
  <%- include('../partials/navBar') %>


  <div class="container">

    <div class="jumbotron">
      <h1>Hello, admin!</h1>
      <h3><%= appInfo.users %> registers users</h3>
    <h3 "><%= appInfo.coursesCount %> Courses</h3>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/admin/settings" role="button">Settings</a>
      </p>
    </div>
    
    <div class="outline_courses_info">
      <a href="">Create course</a>
      <% if(courses.length == 0){ %>
      <p>No courses found </p> 
      <%} %>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</body>
</html>