<!DOCTYPE html>
<html>

  <title>Courses</title>
  <%- include('../partials/header') %>
<style>
  .course-details {
    display: none;
  }
</style>
<body>
   
  <%- include('../partials/navBar') %>


  <div class="user-courses-container smaller-screen-space">
    <div class="user-column ">
      <div class="user-welcome ">
        <a href="/course/create"><button class="trans-btn">Create Course</button></a>
        
      </div>
      <div class="course-list">
        <% if (courses.length === 0) { %>
          <p>No courses found.</p>
         <%}%> 
        <% courses.forEach(function(course) { %>
        <div class="course">
          <div class="course-details">
            <h3><%= course.title %></h3>
            <p><%= course.usersCount%> <i class="fa fa-user"></i></p>
           
              <!-- <div class="course-progress">
                <i class="fa fa-check-circle"></i>
                <span>Completed</span>
              </div>

              <div class="course-progress">
                <i class="fa fa-check-circle"></i>
                <span></span>
              </div> -->
              <% if(course.courseImage != ""){%>
                <img width="100px" src="<%=course.courseImage %>" />
              <%}%> 
           
                <button class="trans-btn-sm deleteCourse"  data-link-data="<%=course._id %>">Delete</button>
           
              <a href="/course/edit/<%= course._id %>"><button class="view-course-btn">Edit</button></a>
              <a href="/course/course-topics/<%= course._id %>""><button class="view-course-btn">View</button></a>
            
            
          </div>
          <span><p>Course status: <%= course.active ?"Active":"inactive" %></p></span>
          <p><%= course.courseDesc %></p>
        </div>
     
        <% }); %>
      </div>
    </div>
    <div class="stats-column">
     
      <h2 class="display-9"><b>Your Stats</b> </h2>
      <br>
      <div class="stats">
        <div class="stats-item">
          <i class="fa fa-laptop"></i>
          <p>Courses: <%=stats.coursesCount%> </p>
        </div>
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Active Courses: <%=stats.activeCourseCount%></p>
        </div>
        <div class="stats-item">
          <i class="fa fa-users"></i>
          <p>Users: <%=stats.overallUserCount%></p>
        </div>
       
        <% courses.forEach(function(course) { %>
        
        <% if (course.usersCount > 0){%>
          <% const completedPercentage = (course.completed/course.usersCount) * 100; %>
          <div class="stats-item">
            <i class="fa fa-check" aria-hidden="true"></i>
            <p>Course completion: <%=completedPercentage.toFixed(0)%>% </p>
          </div>
        <%}})%>  
      
      </div>
    </div>
  </div>

 

    <script>
      function revealDetails(courseId) {
        const courseDetails = document.getElementById(courseId);
        if (courseDetails.style.display === 'none') {
          courseDetails.style.display = 'block';
        } else {
          courseDetails.style.display = 'none';
        }
      }

      $(document).ready(function() {
        
      // Handle form submission for creating a category
      $('.deleteCourse').click(function(event){
        event.preventDefault;
        
        var linkData = $(this).data('link-data');
        
        var link = '/admin/deleteCourse/'+linkData;
        console.log
        $.ajax({
          url: link,
          type:'DELETE',
          success: function(response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          } 
        });

      });
      $('#createCategoryForm').submit(function(event) {
        event.preventDefault();
        $('#response').empty();
        var categoryName = $('#categoryName').val();

        $.ajax({
          url: 'category',
          type: 'POST',
          data: { name: categoryName },
          success: function(response) {
            // Clear form input
            $('#categoryName').val('');

            // Add new category to dropdown options
            $('#category').append($('<option>', {
              value: "ere", 
              text: response.category
            }));
            console.log(response);
            $('#response').append(response.message);
          },
          error: function(xhr, status, error) {
            console.error('Error creating category:', error);
          }
        });
      });
    });
    </script>
       <%- include('../partials/footer') %>
</body>
</body>
</html>