<!DOCTYPE html>
<html>

  <title>Courses</title>
  <%- include('../partials/header') %>
<style>
  .course-details {
    display: none;
  }
</style>
<body>
   
  <%- include('../partials/navBar') %>

  

  <div class="user-courses-container smaller-screen-space">
    <div class="user-column">
 

    <p class="page-small-title"><b>Add quiz pass percentage </b></p>
     <form action="/admin/settings" id="adminSettings"   method="POST">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group mb-2">
              <input type="text" id="percentage"  name="percentage" value="<%= settings.passPercentage %>" placeholder="add percentage" class="form-control"  /> 
              <p id="errorPercentage"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group mb-2">
              <label>Video source optional</label>
              <input type="text" name="videoSource" placeholder="Add video source"  class="form-control"  /> 
              <%  settings.videoSource.forEach(function(source) { %>
                <span><%=source%></span>
              <%}) %> 
            </div>
          </div>
        </div>
        <button type="submit"  class="trans-btn ">Update</button>
      </form>
      <p id="response"></p> 
  
      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="errors">
          <% errors.forEach(function (error) { %>
            <p class="error-message"><%= error.msg %></p>
          <% }) %>
        </div>
      <% } %>
      
      <br>
     

      
        <p class="page-small-title"><b>add new course categories </b></p>
        <form id="createCategoryForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-2">
                <input  type="text" id="categoryName" name="categoryName" placeholder="course category"  />
                <P id="errorCategory"></P>
              </div>
            </div>
          </div>      
          <button type="submit" class="trans-btn ">Add category</button>
        </form>
        <p id="response"></p> 
        <%  categories.forEach(function(category) { %>
          <p><%=category.name%> | <a href="/admin/category/remove/<%=category._id%>"> remove</a></p>
        <%}) %>  
   
    </div>
 
    <div class="stats-column">
     
     
      <br>
      <div class="stats">
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Update pass percentage</p>
        </div>
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Add video courses</p>
        </div>
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Add and remove category</p>
        </div>
      
      </div>
    </div>
  </div>
 




<script>
  $('document').ready(function () {
    $('#createCategoryForm').submit(function(event) {

        event.preventDefault();
        $('#response').empty();
        //validate in
        var categoryName = $('#categoryName').val();
        if(categoryName === ""){
          $('#errorCategory').text('Please enter Category.');
          return false;
        }

        $.ajax({
          url: '/admin/category',
          type: 'POST',
          data: { name: categoryName },
          success: function(response) {
            // Clear form input
            $('#categoryName').val('');

            location.reload();
      
            $('#response').append(response.message);
          },
          error: function(xhr, status, error) {
            console.error('Error creating category:', error);
          }
        });
      });

      $('#adminSettings').submit(function (event){
        event.preventDefault();
        var percentageCheck = $('#percentage').val();
        if(percentageCheck === ""){
          $('#errorPercentage').text('Please enter percentage.');
        }else{
          this.submit();
        }
      });
  });
</script>
<%- include('../partials/footer') %>
</body>
</html>    

