<!DOCTYPE html>
<html>

  <title>Topics </title>
  <%- include('../partials/header') %>
  <style>
    body {
     font-family: Arial, sans-serif;
      /* Add padding to both sides */
   }

   .container-out {
     display: flex;
   }

   .column {
     flex: 2;
     padding: 20px;
   }

 

   h1 {
     color: black;
   }

   .sub-titile {
     color: gray;
   }

   p {
     margin-top: 20px;
   }

   .list {
     padding-top: 20px;
     padding-bottom: 20px;
   }

   ul {
     list-style-type: disc;
   }
     
   .menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 30px;
    }
    
    .menu-list li {
      padding: 20px;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
    }
    
    .menu-list li:first-child {
      border-top: 1px solid #ccc;
    }
    
    .menu-list li span {
      margin-right: 10px;
    }
    .overview-container {

  border-radius:solid black 10px ;
  padding: 20px;
  margin-bottom: 10px;
}

.menu {
  background-color: #000;
  border-radius: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  padding: 10px;
  color: #fff;
}
ul li a{
  color: black;
}

.menu ul li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.content {

  padding: 20px;
  border:1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}

#courseInfo{
  text-align: center;
  padding-top: 40px;
}
#progress-text{
  font-size: 10px;
}
 </style>
<body>
  <!-- Navigation -->
  <%- include('../partials/clientNav') %>
  <% if(admin){ %>
    <!-- <a href="/admin/courses/"><button>Back</button></a> -->
    <p class="path"> Home /<a href="/admin/courses/"> courses</a> </p>
  <%}else{%>
    <!-- <a href="/course/created"><button>Back</button></a> -->
    <p class="path"><a href="/course/created"> course</a> /<a href="/course/course-topics/<%=topic.courseId%>"> lessons</a> </p>
  <%}%>  
  <div class="container-out">
    <div class="column" style="flex: 2 2 58%;">

   
      <% if(topicMaterial.videoSource === "youtube"){%>
        <iframe id="video" height="500" src="<%= topicMaterial.embedLink %>" allowfullscreen>
        </iframe>
      <%}else if(topicMaterial.videoSource === "vimeo"){%>
        <iframe id="video-vimeo" src="<%= topicMaterial.embedLink %>" frameborder="0"  allowfullscreen></iframe>

      <%}else{%>    
        <iframe id="video" height="500" src="<%= topicMaterial.embedLink %>" allowfullscreen></iframe>
      <%}%>  
      
      <p><strong>Lesson : </strong><%= topic.title %></p>
      <div class="overview-container">
        <div class="menu">
          <ul>
            <li>Course Overview</li>
            <li>Syllabus</li>
          </ul>
        </div>
        <div class="content">
          <!-- Content goes here -->
          <p><%=topicMaterial.content %>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo quis ultrices fringilla. Fusce non erat non sapien facilisis convallis vel eu sem.</p>
        </div>
      </div>
      
     
     
    </div>
    <div class="column">
      <p  >Preview</p>
 
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
