<!-- editTopic.ejs -->
<!DOCTYPE html>
<html>

  <title>Edit Course</title>
  <%- include('../partials/header') %>
   <style>
    #message {
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
}
   </style> 
<body>
  <!-- Navigation -->
  <% if(admin){ %>
    <%- include('../partials/navBar') %>
    <%}else {%>
      <%- include('../partials/clientNav') %>    
    <%}%> 
  

  <% if(admin){%>
    <p class="path"> Home /<a href="/admin/courses/"> courses</a> /<span style="color: gray;"> edit course</span> </p>
  <%} else{%> 
    <p class="path"> Home /<a href="../../course/created"> courses</a> /<span style="color: gray;"> edit course</span> </p>
  <% }%>  
    
  
  <div class="user-courses-container">
    <div class="user-column">
    
    <p class="page-small-title"><b>Edit Course</b></p>
  <form id="courseForm" action="/course/<%=course._id %>" enctype="multipart/form-data" class="d-flex flex-column  px-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input type="text" name="title" placeholder="Title" class="form-control" value="<%=course.title%>">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          
          <select id="difficulty" name="difficulty" class="form-control">
           
            <option value="beginner" <%=course.difficulty == "beginner" ? "select":""%> >beginner</option>
            <option value="Intermediate" <%=course.difficulty == "intermediate" ? "select":""%> >Intermediate</option>
            <option value="experienced" <%=course.difficulty == "experienced" ? "select":""%> >experienced</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mb-2">
          <select id="language" name="language" class="form-control">
            <option value="english">English</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input type="number" placeholder="hours" name="hours" id="hours" class="form-control" value="<%=course.hours%>">
        </div>
      </div>
    </div>
    <div class="form-group mb-2">
      <textarea name="courseDesc" placeholder="Course Description" cols="40" rows="5" class="form-control"><%=course.courseDesc%></textarea>
    </div>
    
    <div class="form-group mb-2">
      
      <select id="category" name="category" class="form-control">
        <% categories.forEach((category) => { %>
       
          <% if(category._id.toString() == course.category.toString()){%>
              <option selected value="<%= category._id %>" ><%= category.name %></option>
          <%}else{%>    
              
          <option  value="<%= category._id %>" ><%= category.name%></option>
          <%}%>
        <% }) %>
      </select>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input type="text" id="courseVideo" value="<%=course.video%>" name="courseVideo" placeholder="Course Video URL" class="form-control" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          <textarea placeholder="required material" id="material" name="material" rows="5" cols="30" class="form-control"><%=course.material%></textarea>
        </div>
      </div>
    </div>
    <div class="form-group mb-2">
     
      <textarea placeholder="prerequisites" id="prerequisites" name="prerequisites" rows="5" cols="30" class="form-control"><%=course.prerequisites%></textarea>
    </div>
    <button type="submit" class="trans-btn ">Update Course</button>
  </form>
  <div id="message" class="hidden"></div> 
  <p id="error"></p>
  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(function (error) { %>
        <p class="error-message"><%= error.msg %></p>
      <% }) %>
    </div>
  <% } %>
  <p><b>Upload course image</b></p>
  <img id="edit-image" src="<%=course.courseImage%>" width=40%">
  <form id="uploadImage"  enctype="multipart/form-data" class="d-flex flex-column  px-3">
    <div class="custom-file mb-3">
      <input type="hidden" name="courseId" value="<%=course._id %>" />
      <input type="file" class="custom-file-input" id="image" name="imageUpload">
      <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
    <br>
    <button type="submit" class="trans-btn ">Update image</button>
  
  </form>
     
    </div>
    <div class="stats-column">
     
      <br>
      <div class="stats">
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Update course</p>
        </div>
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Update course Image</p>
        </div>
      
      
      </div>
    </div>
  </div>




  <br>
 
  <script>
    $(document).ready(function() {
      $('#courseForm').submit(function(event) {
        event.preventDefault();
       
        // Clear previous error messages
        $('.error-message').remove();
  
        // Perform validation
        var isValid = true;
  
        $('input[type="text"], textarea').each(function() {
          if ($(this).val().trim() === '') {
            $(this).after('<p class="error-message">This field is required.</p>');
            isValid = false;
          }
        });
      
        if (isValid) {
          var form = $(this);
          var url = form.attr('action');
          // Serialize the data
          var formData = form.serialize();
    
          // Send the PUT request
          $.ajax({
            url: url,
            type: 'PUT',
            data: formData,
            success: function(response) {
              console.log(response);
  
              // Display success message in green
              const $message = $('#message');
              $message.text('Course data saved').css('color', 'green').removeClass('hidden');
                 // Scroll to the error messages
            var errorOffset = $('#material').offset().top;
            $('html, body').animate({
              scrollTop: errorOffset
            }, 500);
              // Hide the message after a few seconds with fade-out effect
              setTimeout(function() {
                $message.addClass('hidden');
              }, 5000);
            },
            error: function(response) {
              console.log(response.responseJSON);
              if (response.responseJSON) {
                const $message = $('#message');
                $message.text('').css('color', 'red').removeClass('hidden');
                response.responseJSON.errors.forEach(function(element) {
                  console.log(element);
                  $message.append("<br>" + element.msg);
                });
              }
            }
          });
        }
      });
  
      // Update image
      $('#uploadImage').submit(function(event) {
      event.preventDefault();

      // Clear previous error messages
      $('.error-message').remove();

      // Perform validation
      var isValid = true;
      var fileInput = $('#image');

      if (fileInput[0].files.length === 0) {
        fileInput.after('<p class="error-message">Please select an image to upload.</p>');
        isValid = false;
      }

      if (isValid) {
        var formData = new FormData(this);

        $.ajax({
          url: '/course/image',
          type: 'PUT',
          data: formData,
          contentType: false,
          processData: false,
          success: function(response) {
            console.log(response);

            // Display success message in green
            const $message = $('#message');
            $message.text('Image uploaded successfully.').css('color', 'green').removeClass('hidden');

            // Hide the message after a few seconds with fade-out effect
            setTimeout(function() {
              $message.addClass('hidden');
            }, 5000);

            // Refresh the page to show the updated image
            location.reload();
          },
          error: function(response) {
            console.log(response);

            // Display error message in red
            const $message = $('#message');
            $message.text('Image upload failed. Please try again.').css('color', 'red').removeClass('hidden');
          }
        });
      }
    });
    });
  </script>
 <%- include('../partials/footer') %>
</body>
</html>