<!DOCTYPE html>
<html>

<title>Courses</title>
<!-- Navigation -->

<% if (typeof unAuthenticated !== 'undefined') { %>
  <% if (unAuthenticated) { %>
    <%- include('../frontend/header') %>
    <body>
    <%- include('../frontend/navbar') %>
  <% } else { %>
    <%- include('../partials/header') %>
    <body>
    <%- include('../partials/clientNav') %>
  <% } %>
<% }else{%>
  <%- include('../partials/header') %>
  <body>
  <%- include('../partials/clientNav') %>
<%}%>  
  
  <br><br>

  <div class="course-details-container container-margin">
    <div class="course-details-view">
      
      <div class="course-image">
        <img src="<%=course.courseImage%>" alt="Course Image">
        <div class="rating">
          <% const rating = course.ratingsAverage %>
          <% const fullStars = Math.floor(rating); %>
          <% const halfStar = rating % 1 !== 0 %>
          
          <% for (let i = 0; i < fullStars; i++) { %>
            <i class="fa fa-star text-warning"></i>
          <% } %>
          
          <% if (halfStar) { %>
            <i class="fa fa-star-half-o text-warning"></i>
          <% } %>
          <% const reminder = (5 - fullStars)  - halfStar%>
     
          <% for (let i = 0; i < reminder; i++){%>
            <i class="fa fa-star-o"></i>
          <%}%>  
        </div>
        <br/>
        <div class="reviews"><%=course.ratingsAverage%> (<%=course.ratings.length%> reviews)</div>
      </div>
      <div class="course-details-breakdown">
      <div class="instructor">A course by<span style="color: black;"> / <%=course.creator.name +" "+course.creator.surname %></span></div>
      <h2 class="course-title"><%=course.title%></h2>
      <p class="course-description"><%=course.courseDesc%></p>
      </div>
    </div>
    <div class="course-breakdown">
      <div class="course-info">
        <div class="course-section">
          <div class="course-icon"><i class="fa fa-users"></i></div>
          <div class="course-detail"><%=course.userCount%> Students Registered</div>
        </div>
        <div class="course-section">
          <div class="course-icon"><i class="fa fa-language"></i></div>
          <div class="course-detail">Language: <%=course.language%></div>
        </div>
        <div class="course-section">
          <div class="course-icon"><i class="fa fa-book"></i></div>
          <div class="course-detail"><%=course.topics%> Lessons</div>
        </div>
        <div class="course-section">
          <div class="course-icon"><i class="fa fa-clock-o"></i></div>
          <div class="course-detail">Duration: <%=course.hours%> hours</div>
        </div>
        <div class="course-section">
          <div class="course-icon"><i class="fa fa-trophy"></i></div>
          <div class="course-detail">Difficulty: <%=course.difficulty%></div>
        </div>
      </div>
      <br/>
      <div class="course-buttons">
        <% if(course.registered) {%>
          <!-- <span><a href="/topics/<%=course._id %>">open</a></span>
          <button class="enroll-btn">Enroll Course</button>  -->
          <a href="/topics/<%=course._id %>"><button class="enroll-btn">Open</button></a>
      <%}else{%>
          <% if(!course.owner){ %>

            <%if(typeof unAuthenticated !== 'undefined' && unAuthenticated){%>
             
            <a href="#" data-toggle="modal" data-target="#loginRegisterModal">
              <button class="enroll-btn">View course</button>
            </a>
            <%}else{%>
              <form action="/course/register" method="POST">
                <input type="hidden" value="<%=course._id %>" name="courseId" />
                <button class="enroll-btn">Enroll Course</button>
               
              </form>
     
            <%}%>
            
         <% }else{%>
          
          <a href="/course/course-topics/<%=course._id %>"><button class="enroll-btn">View course</button></a>
          <%}%>
      <%} if(course.completed){ %>
        <button class="enroll-btn">Completed</button>
        <!-- <span>Completed</span> -->
      <%}else{%>
      
      <%}%>
    
        
      </div>
      <hr>
      <div class="course-section2">
        <span class="small-heading">Prerequisites</span>
        <p><%=course.prerequisites%></p>
      </div>  
      
      <div class="course-section2">
        <span class="small-heading">Course Material</span>
        <p><%=course.material%></p>
     
      </div>
    </div>
  </div>
  
  
  <!-- <div class="card">
    
    <div class="card-header" id="<%=course._id %>">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=course._id+course._id %>" aria-expanded="false" aria-controls="collapseTwo">
                <i class="flaticon-question"></i> <%= course.title %>
            </button>
            <% if(course.registered) {%>
                <span><a href="/topics/<%=course._id %>">open</a></span> 
            <%}else{%>
                <% if(!course.owner){ %>
                <form action="/course/register" method="POST">
                    <input type="hidden" value="<%=course._id %>" name="courseId" />
                    <button class="btn">Register</button>
                  </form>
               <% }else{%>
                <span><a href="/course/course-topics/<%=course._id %>"> View course</a></span>
                
                <%}%>
            <%} if(course.completed){ %>
              <span>Completed</span>
            <%}else{%>
            
            <%}%>
            <span><a href="/topics/<%=course._id %>"> course</a></span>
               
        </h5>
    </div>
    <div id="<%=course._id+course._id %>" class="collapse" aria-labelledby="<%=course._id %>" data-parent="#accordion">
        <div class="card-body">
          <%= course.courseDesc %>
        </div>
        <img src="<%=course.courseImage%>"/>
    </div>
  </div> -->
  <!-- Add this modal at the end of your HTML, just before the closing </body> tag -->
  <div class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="loginRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginRegisterModalLabel">Login or Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Don't have an account? Register now:</p>
          <a href="/users/signup?course=<%=course._id %>" ><button type="button" style="background-color: black;" class="btn btn-primary btn-block" >Register</button></a>
          <hr>
          <p>Already have an account? Log in:</p>
          
          <a href="/users/login?course=<%=course._id %>" ><button type="submit" class="btn btn-primary btn-block">Log In</button></a>

        </div>
      </div>
    </div>
  </div>
  
  

</body>
<%- include('../partials/footer') %>
</html>  