<!-- courses.ejs -->
<!DOCTYPE html>
<html>

  <title>Courses</title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>
  
  
  <!-- Create Course Form -->


  <p class="path"><a href="/users"> Home</a> /<span style="color: gray;"> your courses</span> </p>

  <div class="user-courses-container">
    <div class="user-column">
      <div class="user-welcome">
        <a href="/course/create"><button class="trans-btn">Create Course</button></a>
        
      </div>
      <div class="course-list">
        <% courses.forEach(function(course) { %>
        <div class="course">
          <div class="course-details">
            <h3><%= course.title %></h3>
         
            <p><%= course.usersCount%> <i class="fa fa-user"></i></p>
            <p><%=course.completed%> completed </p>
            <% if (course.usersCount > 0){%>
              <% const completedPercentage = (course.completed/course.usersCount) * 100; %>
              <p><%=completedPercentage.toFixed(2)%> % course completion</p>
          
             
            <%}%>  
              <!-- <div class="course-progress">
                <i class="fa fa-check-circle"></i>
                <span>Completed</span>
              </div>
              
      
              <div class="course-progress">
                <i class="fa fa-check-circle"></i>
                <span></span>
              </div> -->
              
           
    
           
           
              <% if(course.courseImage != ""){%>
                <img width="100px" src="<%=course.courseImage %>" />
              <%}%> 
           
                <button class="trans-btn-sm deleteCourse"  data-link-data="<%=course._id %>">Delete</button>
           
              <a href="/course/edit/<%= course._id %>"><button class="view-course-btn">Edit</button></a>
              <a href="/course/course-topics/<%= course._id %>""><button class="view-course-btn">View</button></a>
            
            
          </div>
          <span><p>Course status: <%= course.active ?"Active":"inactive" %></p></span>
          <p><%= course.courseDesc %></p>
        </div>
     
        <% }); %>
      </div>
    </div>
    <div class="stats-column">
     
      <h2 class="display-9"><b>Your Stats</b> </h2>
      <br>
      <div class="stats">
        <div class="stats-item">
          <i class="fa fa-laptop"></i>
          <p>Courses: 2%> </p>
        </div>
        <div class="stats-item">
          <i class="fa fa-check-circle"></i>
          <p>Completed Courses: 45</p>
        </div>
        <div class="stats-item">
          <i class="fa fa-hourglass-half"></i>
          <p>In Progress: 45</p>
        </div>
      
      </div>
    </div>
  </div>

 


  <script>
    $(document).ready(function() {
        $('.deleteCourse').click(function(event){
        event.preventDefault;
        
        var linkData = $(this).data('link-data');
         console.log(linkData); 
        var link = '/course/'+linkData;

        $.ajax({
          url: link,
          type:'DELETE',
          success: function(response){
           location.reload();
          },
          error: function(response){
            console.log(response);
            
          } 
        });

      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#course-form').submit(function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Clear previous error messages
        $('#error').empty();
  
        // Get form values
        var fields = [
          { name: 'title', label: 'Title' },
          { name: 'courseDesc', label: 'Course Description' },
          { name: 'imageUpload', label: 'Image' },
          { name: 'category', label: 'Category' },
          { name: 'courseVideo', label: 'Course Video URL' }
        ];
  
        // Perform validation
        var isValid = true;
  
        fields.forEach(function(field) {
          var value = $('*[name="' + field.name + '"]').val().trim();
          if (value === '') {
            $('#error').append('<p>Please enter ' + field.label + '.</p>');
            isValid = false;
          }
        });
  
        if (isValid) {
          // Submit the form if valid
          $('#course-form').unbind('submit').submit();
        }
      });
    });
  </script>
  <%- include('partials/footer') %>
</body>
</html>
