<!-- topics.ejs -->
<!DOCTYPE html>
<html>
  <title>Topics</title>

  <%- include('partials/header') %>
 
<body>
  <!-- Navigation -->
 
  <% if(admin){ %>
    <%- include('partials/navBar') %>
    <%}else {%>
      <%- include('partials/clientNav') %>    
    <%}%> 
  <!-- List topics here -->
  <h1>All Topics</h1>
    <div>
      <% if(!courseActive.active && !courseActive.topics){ %>
        Your course Is still inactive because you have no topics
      <%}else if(courseActive.topics && !courseActive.active){%>
          <form id="courseForm"  action="/course/activate" >
            
            <input type="hidden" name="courseId" value="<%=topic[0].courseId %>"/>
            <button >Activate Course</button>
          </form>
          
            
        <p>If you active your course it will be available to the public</p>
      <%}%>
    </div>
    <div class="outline_courses_info">
      <div id="accordion">
        <% if(topic.length == 0 ){ %>
          <p>You can't have an active course without any topics</p>
        <%} %>  
        <% topic.forEach(function(top) { %>
          <div class="card">
            <div class="card-header" id="<%=topic._id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=top._id+top._id %>" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="flaticon-question"></i> <%= top.title %>
                    </button>
                    <a href="/topics/edit/<%= top._id %>">Edit topic and topic material</a>  
                    <span><a href="#" data-delete-topic="<%=top._id%>" class="delete-topic">Delete</a></span>                      
                </h5>
            </div>
            <div id="<%=top._id+top._id %>" class="collapse" aria-labelledby="<%=topic._id %>" data-parent="#accordion">
                <div class="card-body">
                  <%= top.topicDesc %>
                </div>
            </div>
          </div>
      <% }); %>
      <% if (topic.length === 0) { %>
        <!-- Code to handle when topics array is empty -->
        <p>No topics found.</p>
      <% }%>
      </div>
    </div> </br>
    <a href="/topics/create/<%= courseId%>">
    <button>Create topic</button> </a>   

    <script>
      $(document).ready(function (){
        $('.delete-topic').click(function(event){
        event.preventDefault;
     
        var linkData = $(this).data('delete-topic');
     
        var link = '/topics/delete/'+linkData;
        $.ajax({
          url: link,
          type:'DELETE',
          success: function(response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          } 
        });

      });

      $('#courseForm').submit(function (event){
        event.preventDefault();
        var form = $(this);
        var url  = form.attr('action');
        var formData  = form.serialize();
      
        $.ajax({
          url: url,
          type:'PUT',
          data: formData,
          success: function(response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          } 
        });
      });  
    });
    </script>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</body>
</html>