<!-- courses.ejs -->
<!DOCTYPE html>
<html>

  <title>Courses</title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>
  <h1>Courses</h1>
  
  <!-- Create Course Form -->
  <h2>Create Course</h2>
  <form action="/course" enctype="multipart/form-data" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <textarea name="courseDesc" placeholder="Course Description" required cols="30" rows="5"></textarea>
   
    <input type="text" name="courseImage" placeholder="Course Image URL">
    <div class="mb-3">
      <label for="imageUpload" class="form-label">Select Image</label>
      <input type="file" class="form-control" id="imageUpload" name="imageUpload">
    </div>
    <label for="category">Category:</label> 
    <!-- <select id="category" name="category"></select> -->
    <select id="category" name="category">
      <% categories.forEach((category) => { %>
        <option value="<%= category._id %>"><%= category.name %></option>
      <% }) %>
    </select>
    <input type="text" name="courseVideo" placeholder="Course Video URL">
    <button type="submit">Create Course</button>  
  </form>
  
  <!-- List of Courses -->

  <% courses.forEach(function(course) { %>
    <div class="course">
      <h3><%= course.title %></h3>
      <% if(course.courseImage != ""){%>
        <img width="200px" src="<%=course.courseImage %>" />
      <%}%> 
      <p>Course No: <%= course.courseNo %></p>
      <p><%= course.courseDesc %></p>
      <!-- <img src="<%= course.courseImage %>" alt="Course Image"> -->
      <a href="/course/course-topics/<%= course._id %>">View course</a>
      <form action="/courses/<%= course._id %>" method="PUT">
        <span><p class="deleteCourse" data-link-data="<%=course._id %>">Delete course</p></span>
      </form> 
      <a href="/course/edit/<%= course._id %>">Edit</a>
      
      <p><%= course.usersCount%> registered users</p>
      <p><%=course.completed%> users have completed the course</p>
      <% if (course.usersCount > 0){%>
        <% const completedPercentage = (course.completed/course.usersCount) * 100; %>
        <p><%=completedPercentage.toFixed(2)%> % course completion</p>
    
       
      <%}%>  
    
      <span><p>Course status: <%= course.active ?"Active":"inactive" %></p></span>
    </div>
    <div id="message" class="hidden"></div> 
  <% }); %>
  <script>
    $(document).ready(function() {
        $('.deleteCourse').click(function(event){
        event.preventDefault;
        
        var linkData = $(this).data('link-data');
         console.log(linkData); 
        var link = '/course/'+linkData;

        $.ajax({
          url: link,
          type:'DELETE',
          success: function(response){
           location.reload();
          },
          error: function(response){
            console.log(response);
            
          } 
        });

      });
    });
  </script>
  <script src="/js/script.js"></script>
</body>
</html>
