<!-- topics.ejs -->
<!DOCTYPE html>
<html>
  <title>Topics</title>

  <%- include('partials/header') %>
 
<body>
  <!-- Navigation -->
 
  <% if(admin){ %>
    <%- include('partials/navBar') %>
    <%}else {%>
      <%- include('partials/clientNav') %>    
    <%}%> 
  <!-- List topics here -->
  
    <% if(admin){ %>
      <!-- <a href="/admin/courses/"><button>Back</button></a> -->
      <p class="path"> Home /<a href="/admin/courses/"> courses</a> /<span style="color: gray;"> <%=course.title%></span> </p>
    <%}else{%>
      <!-- <a href="/course/created"><button>Back</button></a> -->
      <p class="path"> Home /<a href="/course/created"> courses</a> /<span style="color: gray;"> <%=course.title%></span> </p>
    <%}%>  

   
    <div class="user-courses-container">
      <div class="user-column">
        <div class="user-welcome">
          <div style="margin-bottom: 20px;" class="custom-jumbotron">
            <div class="container">
              <h2 class="display-5"><b><%=course.title%></b> </h2>
              <p class="lead two-line-description"><%=course.courseDesc %></p>        
              <img src="<%=course.courseImage%>" class="custom-jumbotron-image"/>
            </div>
      
          </div>
        <div>
            <% if(!courseActive.active && !courseActive.topics){ %>
              <div class="course">
            
                <div class="course-details">
                  <p><b>!</b> Your course Is still inactive because you have no less</p>
              </div>
              </div>
            <%}%>
              
       </div>  
        </div>
        
        <% if(topic.length == 0 ){ %>
          <div class="course">
            
            <div class="course-details">
        
           <p> <b>!</b> You can't have an active course without any topics</p>
          </div>
        </div>
        <%} %>  
        
        <div class="course-list">
          <% topic.forEach(function(top) { %>
          <div class="course">
            <div class="course-details">
              <h3><%= top.title %></h3>
<!--              
              <div class="">
                <p>Incomplete</p>
              </div> -->
              <!-- <div class="">
                <button class="view-course-btn"><a href="/topics/edit/<%= top._id %>">Edit</a></button>
                <a href="#" data-delete-topic="<%=top._id%>" class="delete-topic"><button class="view-course-btn">Delete</button></a>
              </div> -->
              <div class="">
              <a href="#" data-delete-topic="<%=top._id%>" class="delete-topic"><button class="trans-btn">Delete</button></a>
              <a href="/topics/edit/<%= top._id %>"><button class="view-course-btn">Edit</button></a>
            </div>
            </div>
            <p class="instructor"><%= top.topicDesc %></p>
          </div>
       
          <% }); %>
          <a href="/topics/create/<%= courseId%>">
            <button style="width: 100%;" class="view-course-btn">Create lesson</button> </a>  
        </div>
      </div>
      <div class="stats-column">
       
        <h2 class="display-9"><b>Course Stats</b> </h2>
        <br>
        <div class="stats">
          <div class="stats-item">
            <i class="fa fa-user"></i>
            <p>Students: <%= stats.students%> </p>
          </div>
          <div class="stats-item">
            <i class="fa fa-book"></i>
            <p>Lessons: <%= stats.lessons%> </p>
          </div>
          <div class="stats-item">
            <i class="fa fa-check"></i>
            <p>Status: <%= course.active?"active":"Inactive" %> </p>
          </div>
  
          <%if(courseActive.topics && !courseActive.active){%>
            <form id="courseForm"  action="/course/activate" >
              
              <input type="hidden" name="courseId" value="<%=topic[0].courseId %>"/>
              <button style="width: 100%;" class="trans-btn">Activate</button>
            </form>
            
              
          <p style="font-size: 11px;">If you active your course it will be available to the public</p>
        <%}%>
        
        </div>
      </div>
    </div>  
    

    <!-- <div>
      <% if(!courseActive.active && !courseActive.topics){ %>
        Your course Is still inactive because you have no topics
      <%}else if(courseActive.topics && !courseActive.active){%>
          <form id="courseForm"  action="/course/activate" >
            
            <input type="hidden" name="courseId" value="<%=topic[0].courseId %>"/>
            <button >Activate Course</button>
          </form>
          
            
        <p>If you active your course it will be available to the public</p>
      <%}%>
    </div>
    <div class="outline_courses_info">
      <div id="accordion">
        <% if(topic.length == 0 ){ %>
          <p>You can't have an active course without any topics</p>
        <%} %>  
        <% topic.forEach(function(top) { %>
          <div class="card">
            <div class="card-header" id="<%=topic._id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=top._id+top._id %>" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="flaticon-question"></i> <%= top.title %>
                    </button>
                    <a href="/topics/edit/<%= top._id %>">Edit topic and topic material</a>  
                    <span><a href="#" data-delete-topic="<%=top._id%>" class="delete-topic">Delete</a></span>                      
                </h5>
            </div>
            <div id="<%=top._id+top._id %>" class="collapse" aria-labelledby="<%=topic._id %>" data-parent="#accordion">
                <div class="card-body">
                  <%= top.topicDesc %>
                </div>
            </div>
          </div>
      <% }); %>
      <% if (topic.length === 0) { %>
      
        <p>No topics found.</p>
      <% }%>
      </div>
    </div> </br>
    <a href="/topics/create/<%= courseId%>">
    <button>Create topic</button> </a>    -->

    <script>
      $(document).ready(function (){
        $('.delete-topic').click(function(event){
        event.preventDefault;
     
        var linkData = $(this).data('delete-topic');
     
        var link = '/topics/delete/'+linkData;
        $.ajax({
          url: link,
          type:'DELETE',
          success: function(response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          } 
        });

      });

      $('#courseForm').submit(function (event){
        event.preventDefault();
        var form = $(this);
        var url  = form.attr('action');
        var formData  = form.serialize();
      
        $.ajax({
          url: url,
          type:'PUT',
          data: formData,
          success: function(response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          } 
        });
      });  
    });
    </script>
    <%- include('partials/footer') %>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</body>
</html>