<!DOCTYPE html>
<html>
  <title>Topics</title>

  <%- include('partials/header') %>
 
<body>
  <!-- Navigation -->
 
  <% if(admin){ %>
    <%- include('partials/navBar') %>
    <%}else {%>
      <%- include('partials/clientNav') %>    
    <%}%> 
    <br><br>
<a href="/topics/edit/<%=topicId%>"><button>Back</button></a>    
<form id="quizForm" action="/topics/createQuiz" method="POST">
    <input type="hidden" name="topicId" value="<%=topicId%>">
    
    <div id="entityContainer">
      <div class="entityRow">
        <label for="question">Question:</label>
        <textarea name="questions[0][question]" rows="5" cols="50" ></textarea>
        <label for="answer">Answer:</label>
        <textarea name="questions[0][answer]" rows="5" cols="50" ></textarea>
        <label for="incorrectAnswer1">Incorrect Answer 1:</label>
        <textarea name="questions[0][incorrectAnswer1]" rows="5" cols="50"></textarea>
        <label for="incorrectAnswer2">Incorrect Answer 2:</label>
        <textarea name="questions[0][incorrectAnswer2]" rows="5" cols="50" ></textarea>
      </div>
    </div>
  
    <button type="button" id="addEntityBtn">Add Entity</button>
    <button type="submit" >Submit</button>
  </form>   
  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(function (error) { %>
        <p class="error-message"><%= error.msg %></p>
      <% }) %>
    </div>
  <% } %>
</body>

  
  <script>
   // JavaScript
// JavaScript
const entityContainer = document.getElementById('entityContainer');
const addEntityBtn = document.getElementById('addEntityBtn');

let entityIndex = 0;

addEntityBtn.addEventListener('click', () => {
  const questionElement = document.querySelector(`textarea[name="questions[${entityIndex}][question]"]`);
  const answerElement = document.querySelector(`textarea[name="questions[${entityIndex}][answer]"]`);
  const incorrectAnswer1Element = document.querySelector(`textarea[name="questions[${entityIndex}][incorrectAnswer1]"]`);
  const incorrectAnswer2Element = document.querySelector(`textarea[name="questions[${entityIndex}][incorrectAnswer2]"]`);

  const questionValue = "";
  const answerValue = "";
  const incorrectAnswer1Value = "";
  const incorrectAnswer2Value = "";

  // Now you have the values as strings, which can be submitted correctly
  entityIndex++;
  const questionTemplate = `
    <div class="entityRow">
      <label for="question">Question:</label>
      <textarea name="questions[${entityIndex}][question]" rows="5" cols="50" >${questionValue}</textarea>
      <label for="answer">Answer:</label>
      <textarea name="questions[${entityIndex}][answer]" rows="5" cols="50" >${answerValue}</textarea>
      <label for="incorrectAnswer1">Incorrect Answer 1:</label>
      <textarea name="questions[${entityIndex}][incorrectAnswer1]" rows="5" cols="50" >${incorrectAnswer1Value}</textarea>
      <label for="incorrectAnswer2">Incorrect Answer 2:</label>
      <textarea name="questions[${entityIndex}][incorrectAnswer2]" rows="5" cols="50" >${incorrectAnswer2Value}</textarea>
    </div>
  `;

  entityContainer.insertAdjacentHTML('beforeend', questionTemplate);
 
});


  </script>
  <%- include('partials/footer') %>
  </html> 