<!-- editTopic.ejs -->
<!DOCTYPE html>
<html>

  <title>Edit Topic</title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <% if(admin){ %>
    <%- include('partials/navBar') %>
    <%}else {%>
      <%- include('partials/clientNav') %>    
    <%}%> 
  

    <p class="path"> Home /<a  href="/course/course-topics/<%= topic.courseId%>"> course</a> /<span style="color: gray;"> <%=topic.title%></span> </p>

    <div class="user-courses-container">
      <div class="user-column">
      
      <p class="page-small-title"><b>Update lesson </b></p>
    <form action="/topics/edit/<%= topic._id %>" method="POST" id="edit-topic-form" class="d-flex flex-column  px-3">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-2">
            <input type="text" id="topicTitle" value="<%= topic.title %>" name="topicTitle" placeholder="Title" class="form-control">
            <input type="hidden" id="materialTitle" name="materialTitle" value="<%= topicMaterial.title %>">
            <input type="hidden" id="topicNo" name="topicNo" value="<%= topic.topicNo %>">
         
          </div>
        </div>
    
      </div>
      
      <div class="form-group mb-2">
        <textarea id="topicDesc" placeholder="Lesson Description" cols="40" rows="5" name="topicDesc" class="form-control"><%= topic.topicDesc %></textarea>
        
      </div>
   
    
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-2">
        <label for="category">Video source:</label> 
        <select id="category" name="videoSource">
          <% videoSources.forEach((source) => { %>
            <% if(source === topicMaterial.videoSource){%>
              <option selected value="<%= source %>"><%= source %></option>
            <%}else{%>  
            <option value="<%= source %>"><%= source %></option>
            <%}%>
          <% }) %>
        </select>
      </div>
      </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-2">
            <input type="text" value="<%= topicMaterial.topicVideo%>" id="materialVideo" name="materialVideo"  class="form-control">
            <input type="hidden" id="materialVideo" name="courseId" value="for-validation-only">
            <!-- <input type="text" id="materialVideo" name="materialVideo" value="<%= topicMaterial.topicVideo %> class="form-control"">
            <input type="hidden" id="materialVideo" name="courseId" value="for-validation-only"> -->
          </div>
        </div>
        
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-2">
          <textarea id="materialContent" placeholder="Lesson content" name="materialContent" rows="5" cols="30" class="form-control"><%= topicMaterial.content %></textarea>
        </div>
      </div>
      </div>
  
      <button type="submit" class="trans-btn ">Edit Course</button>
    </form>
    <p id="error"></p>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div class="errors">
        <% errors.forEach(function (error) { %>
          <p class="error-message"><%= error.msg %></p>
        <% }) %>
      </div>
    <% } %>
    <% if(quiz){ %>
      
      <a  href="/topics/quiz/<%=topic._id %>"><button style="width: 100%;" class="trans-btn">View quiz</button></a><br/><br/>

      <a href="#" id="deleteQuiz" data-delete-quiz-data="<%=topic._id %>"><button style="width: 100%;" class="view-course-btn">Delete quiz</button></a>
      
    <% } else { %>
   
      <a href="/topics/createQuiz/<%=topic._id %>"><button style="width: 100%;" class="view-course-btn">Create quiz</button></a><br/><br/>
    <% } %>
       
      </div>
      <div class="stats-column">
       
       
        <br>
        <div class="stats">
          <div class="stats-item">
            <i class="fa fa-check-circle"></i>
            <p>Update lesson</p>
          </div>
          <div class="stats-item">
            <i class="fa fa-check-circle"></i>
            <p>View lesson</p>
          </div>
          <div class="stats-item">
            <i class="fa fa-check-circle"></i>
            <p>Delete lesson</p>
          </div>
          <% if(quiz){ %>
      
         
          <% } else { %>
            You haven't created a quiz for this Lesson<br/><br/>
            
          <% } %>
        </div>
      </div>
    </div>
  
     <!---==================================================================  -->
 
  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(function (error) { %>
        <p class="error-message"><%= error.msg %></p>
      <% }) %>
    </div>
  <% } %>

  <script>
    $(document).ready(function (){
        $('#edit-topic-form').submit(function(event) {
      event.preventDefault(); // Prevent the form from submitting
 
      // Clear previous error messages
      $('.error-message').remove();

      // Perform validation
      var isValid = true;

      if ($('#topicTitle').val().trim() === '') {
        $('#topicTitle').after('<p class="error-message">Topic Title is required.</p>');
        isValid = false;
      }

      if ($('#topicDesc').val().trim() === '') {
        $('#topicDesc').after('<p class="error-message">Topic Description is required.</p>');
        isValid = false;
      }
      if ($('#materialTitle').val().trim() === '') {
        $('#materialTitle').after('<p class="error-message">Content is required.</p>');
        isValid = false;
      }
      if ($('#materialContent').val().trim() === '') {
        $('#materialContent').after('<p class="error-message">Content is required.</p>');
        isValid = false;
      }
      if ($('#materialVideo').val().trim() === '') {
        $('#materialVideo').after('<p class="error-message">Content is required.</p>');
        isValid = false;
      }

      // Add any additional validation checks for other fields if needed
   
      if (isValid) {
        // Form is valid, proceed with submission
        this.submit();
      }
    });

      $('#deleteQuiz').click(function (event){
        event.preventDefault;
        var deleteLink = $(this).data("delete-quiz-data");
        var link = '../deleteQuiz/'+deleteLink;
     
        $.ajax({
          url:link,
          type:'DELETE',
          success:function (response){
            console.log(response);
            location.reload();
          },
          error: function(response){
            console.log(response);
          }
        });
      });

    });
  </script>
 <%- include('partials/footer') %>
</body>
</html>