<!DOCTYPE html>
<html>

<title>Topic quiz</title>
<%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>

  


  <div class="user-courses-container smaller-screen-space">
    <div class="user-column test-column">
      <div class="test-text-container">
        <p><b>Questions</b></p>
        <a href="/topicOutline/material/<%=topicId%>"><button class="trans-btn-sm">Quit</button></a>
      </div>
      <% if (typeof response !== 'undefined' && response !== null) { %>
        <div class="space-border">
        <p><b>You received <%=response.mark%></b></p>
        <p style="color:red" ><%=response.message%></p>
        <% if (response.success) { %>
        <a href="/topicOutline/material/<%=response.nextTopic%>"><button class="trans-btn-sm">Continue</button></a>
        <% } %>
        </div> 
        <% } %>

     
        <form action="/quiz/submit" method="POST" id="quizForm">
          <input type="hidden" value="<%=topicId%>" name="topicId" />
          <% quiz.questions.forEach(function(question, index) { %>
            <div class="course">
              <div class="course-details">
          <div class="question">
            <p id="question-text">Question <%= index + 1 %>:</p>
            <p id="test-question"> <%= question.question %></p>
      
            <div>
              <input type="radio" id="answer<%= index%>" name="answer[<%= index%>]" value="<%= question.answer %>">
              <label for="answer<%= index%>"> <%= question.answer %></label>
            </div>
            <div>
              <input type="radio" id="incorrectAnswer1<%= index%>" name="answer[<%= index%>]"
                value="<%= question.incorrectAnswer1 %>">
              <label for="incorrectAnswer1<%= index%>"> <%= question.incorrectAnswer1 %></label>
            </div>
            <div>
              <input type="radio" id="incorrectAnswer2<%= index%>" name="answer[<%= index%>]"
                value="<%= question.incorrectAnswer2 %>">
              <label for="incorrectAnswer2<%= index%>"> <%= question.incorrectAnswer2 %></label>
            </div>
          </div>
        </div>
        </div>
          <% }); %>
          <% if (typeof response == 'undefined') { %>
          <button style="width: 100%;" class="view-course-btn" type="submit">Submit Answers</button>
          
          <p id="error"></p>
          <% } %>
      
          <% if (typeof response !== 'undefined' && response !== null) { %>
          <% if (!response.success) { %>
          <button class="view-course-btn" type="submit">Submit Answers</button>
        
          <% } %>
      
          <% } %>
        </form>
    </div>
    <div class="stats-column">
     
      <h2 class="display-9"><b>Quiz Instructions</b> </h2>
      <br>
      <div class="stats">
        <div class="stats-item">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <p>You should get 80% to advance</p>
        </div>
      
      
      </div>
    </div>
  </div>




 
 

  <script>
    $(document).ready(function () {
      $('#quizForm').submit(function (event) {
        event.preventDefault(); // Prevent form submission
        var hasError = false; // Flag to track error status

        // Iterate through each question
        $('.question').each(function (index) {
          var $question = $(this);
          var $radioButtons = $question.find('input[type="radio"]');

          // Check if none of the radio buttons are checked
          if (!$radioButtons.is(':checked')) {
            // Show error message
            $('#error').text('Please answer all questions.');
            hasError = true; // Set error flag
            return false; // Stop further processing
          }
        });

        // Check if an error occurred
        if (hasError) {
          return false; // Stop form submission
        }

        // All questions have been answered, proceed with form submission
        this.submit();
      });
    });
  </script>
  <%- include('partials/footer') %>
</body>

</html>
