<!-- courses.ejs -->
<!DOCTYPE html>
<html>

  <title>Topic quiz</title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>
<h3>Questions:</h3>
<p>You should get 80% to advanced</p>
<p><a href="/topicOutline/material/<%=topicId%>">Quit Test</a></p>
<% if(typeof response !== 'undefined' && response !== null){ %>
  <p>You received <%=response.mark%></p>
  <p><%=response.message%></p>
  <% if(response.success){ %>
    <a href="/topicOutline/material/<%=response.nextTopic%>"><button>Continue</button></a>
  <%}%>

  <%}%>
<form action="/quiz/submit" method="POST">
  <input type="hidden" value="<%=topicId%>" name="topicId"/>
<% quiz.questions.forEach(function(question, index) { %>
  <div class="question">
    <h4>Question <%= index + 1 %>:</h4>
    <p>Question: <%= question.question %></p>
  
   
    <div>
      <input type="radio" id="incorrectAnswer1<%= index%>" name="answer[<%= index%>]" value="<%= question.answer %>">
      <label for="incorrectAnswer1<%= index%>"> <%= question.answer %></label>
    </div>
    <div>
      <input type="radio" id="incorrectAnswer1<%= index%>" name="answer[<%= index%>]" value="<%= question.incorrectAnswer1 %>">
      <label for="incorrectAnswer1<%= index%>"> <%= question.incorrectAnswer1 %></label>
    </div>
    <div>
      <input type="radio" id="incorrectAnswer2 <%= index%>" name="answer[<%= index%>]" value="<%= question.incorrectAnswer2 %>">
      <label for="incorrectAnswer2 <%= index%>"> <%= question.incorrectAnswer2 %></label>
    </div>
   

    <!-- <p>Answer: <%= question.answer %></p> -->
    <!-- <p>Incorrect Answer 1: <%= question.incorrectAnswer1 %></p>
    <p>Incorrect Answer 2: <%= question.incorrectAnswer2 %></p> -->
  </div>    
<% }); %></br></br>
<% if(typeof response == 'undefined' ){ %>
<button>Submit Answers</button>
<%}%>

<% if(typeof response !== 'undefined' && response !== null){ %>
    <% if(!response.success){ %>
      <button>Submit Answers</button> 
    <%}%>
  
<%}%>
</form>
