<!DOCTYPE html>
<html>

  <title>Topics </title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>
  <% if(courses.length == 0){%>
    <p style="text-align: center;margin-right:220px;"><b>No courses found</b></p>
  <%}%>  
  <div class="dash-container">
  <div class="dash-column">
  <div class="course-container">
    <% courses.forEach(function(course) { %>
     <div class="course-card  p-3 ">
       <div class="row align-items-start">
         <div class="">
           <img src="<%=course.courseImage %>" alt="Course 1" class="img-fluid">
         </div>
         <div class="col-12"> 
           <h2 ><%=course.title%></h2>
           <p class="small text-secondary"><%=course.category.name%></p>
           <p class="course-description"><%= course.courseDesc %></p>
           <div>
             <i class="fa fa-star text-warning"></i>
             <i class="fa fa-star text-warning"></i>
             <i class="fa fa-star text-warning"></i>
             <i class="fa fa-star text-warning"></i>
             <i class="fa fa-star-half-o text-warning"></i>
             <span class="time"><i class="fa fa-clock-o clock" aria-hidden="true"></i> 23 hours</span>
           </div>
         </div>
         <div class="col-12 card-bottom"> 
          
          <% if(course.owner){ %>
            <a href="/course/view/<%=course._id %>"><button class="btn btn-outline-primary my-2 my-sm-0">View</button></a>
          <%}else{%>
            <% if(course.registered){%>
            <a href="/topics/<%=course._id %>"><button class="btn btn-outline-primary my-2 my-sm-0">Continue</button></a>
            <span class="completed"><%=course.percentage %>% completed</span>
            <%}else{%>
              <a href="/course/view/<%=course._id %>"><button class="btn btn-outline-primary my-2 my-sm-0">View</button></a>
             <%}%> 
          <%}%>    
         
     
          </div>
            
       </div>
      
      
      
   </div>
      <% }); %>  
  </div>
 
  </div>
  <div class="filter-column">
     
    <h3>Search Filter</h3>
    <form>
      <label for="category">Search by Category:</label>
      <select class="form-control form-rounded" name="search"  id="category">
        <% categories.forEach(function(category){ %>
          <option value="<%=category.name%>"><%=category.name%></option>   
        <%})%>  
      </select>
      <br>
      <label for="ratings">Search by Ratings:</label>
      <br>
      <select class="form-control form-rounded" name="rating"  id="ratings">
        <option value="">All Ratings</option>
        <option value="5">5 Stars</option>
        <option value="4">4 Stars</option>
        <option value="3">3 Stars</option>
        <option value="2">2 Stars</option>
        <option value="1">1 Star</option>
      </select>
     
      <button type="submit" class=" trans-btn-sm">Search</button>
    </form>
    
    </div>
    </div>
<%- include('partials/footer') %>
</body>
</html>
  