<!DOCTYPE html>
<html>

  <title>Topics </title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('partials/clientNav') %>
  

  
  <!-- List topics here -->



    <div class="outline_courses_info">
    
      <div id="accordion">
        <p>All Topics</p>
        <a href="/course/user"><button>Back to courses</button></a><br>
        <% if(downloadCertificate.completed){%>
          <a href="/<%= downloadCertificate.link%>" download><button>Download certificate</button></a>
        <%}%>  
        <%= topics.length == 0 ? "No topics found":"" %>
        <% topics.forEach(function(topic) { %>
          <div class="card">
            <div class="card-header" id="<%=topic._id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=topic._id+topic._id %>" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="flaticon-question"></i> <%= topic.title %>
                    </button>
                    <a href="/topicOutline/material/<%= topic._id %>">Open topic</a>
                      <!-- <% if (topic.topicNo <= currentTopic) { %>
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                        <a href="/topicOutline/material/<%= topic._id %>">Open topic</a>
                      <% } else if (currentTopic < topic.topicNo) { %>
                        <i class="fa fa-lock" aria-hidden="true"></i>
                      <% } %> -->
          
                       
                </h5>
            </div>
            <div id="<%=topic._id+topic._id %>" class="collapse" aria-labelledby="<%=topic._id %>" data-parent="#accordion">
                <div class="card-body">
                  <%= topic.topicDesc %>
                </div>
            </div>
          </div>
      <% }); %>
      </div>
    
    </div>    
    <%- include('partials/footer') %>
</body>

</html>