<!-- editTopic.ejs -->
<!DOCTYPE html>
<html>

  <title>Quiz</title>
  <%- include('partials/header') %>

<body>
  <!-- Navigation -->
  <% if(admin){ %>
    <%- include('partials/navBar') %>
    <%}else {%>
      <%- include('partials/clientNav') %>    
    <%}%> 

    <p class="path"> Home /<a  href="/topics/edit/<%=quiz.topicId %>"> courses</a> /<span style="color: gray;"> course</span> </p>

    <div class="user-courses-container">
      <div class="user-column">
      
      <p class="page-small-title"><b>Create Course</b></p>
    <form id="quizForm" action="/topics/quiz/<%=quiz.topicId %>" class="d-flex flex-column  px-3">
      <input type="hidden" name="topicId" value="<%=quiz.topicId%>">
      <% quiz.questions.forEach(function(question, index) { %>
        <div class="question-div" id="question<%=index+1 %>">
          
          
          <div class="quiz-detail">
            <div id="entityContainer ">
              <div class="entityRow course">
                <label for="question"><b>Question <%= index + 1 %>:</b></label>
                <p>Question: <%= question.question %></p>
                <textarea class="form-control question" name="questions[<%=index %>][question]" rows="2" cols="50"><%=question.question %></textarea>
                <p>Answer: <%= question.answer %></p>
                <textarea class="form-control answer" name="questions[<%=index %>][answer]" rows="2" cols="50"><%= question.answer %></textarea>
                <label for="incorrectAnswer1">Incorrect Answer 1:</label>
                <textarea class="form-control incorrectAnswer1"  name="questions[<%=index %>][incorrectAnswer1] rows="2" cols="50"><%= question.incorrectAnswer1 %></textarea>
                <label for="incorrectAnswer2">Incorrect Answer 2:</label>
                <textarea class="form-control incorrectAnswer2" name="questions[<%=index %>][incorrectAnswer2]" rows="2" cols="50"><%= question.incorrectAnswer2 %></textarea>
              </div>
          </div>
        </div>
        <button class="trans-btn" type="submit" >Edit question <%=index+1 %></button>
        <button class="view-course-btn deleteQuestion"  type="button" data-question-index="<%=index+1%>">Delete Question<%=index+1 %> </button > 
        <div class="message hidden"></div>  
        <br><span class="error"></span>
        </div>
      <%})%>  
  
      
    </form>
    <button style="width: 100%;" type="button" class="trans-btn" id="add-question">Add question</button>
    <p id="error"></p>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div class="errors">
        <% errors.forEach(function (error) { %>
          <p class="error-message"><%= error.msg %></p>
        <% }) %>
      </div>
    <% } %>

       
      </div>
      <div class="stats-column">
       
        <h3 class="display-9"><b>Course requirements</b> </h3>
        <br>
        <div class="stats">
          <div class="stats-item">
            <i class="fa fa-laptop"></i>
            <p>Courses: 2%> </p>
          </div>
          <div class="stats-item">
            <i class="fa fa-check-circle"></i>
            <p>Completed Courses: 45</p>
          </div>
          <div class="stats-item">
            <i class="fa fa-hourglass-half"></i>
            <p>In Progress: 45</p>
          </div>
          <% if(quiz){ %>
      
         
          <% } else { %>
            You haven't created a quiz for this Lesson<br/><br/>
            
          <% } %>
        </div>
      </div>
    </div>
  



  <!-- Add your additional HTML code here -->

  <!-- Add your scripts here -->
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>

       function trimWhiteSpace(){
        $('input[type="text"]').each(function (){
          var inputValue = $.trim($(this).val());
          $(this).val(inputValue);
        }); 
       } 
       function updateQuiz(){

        var form =  $('#quizForm');
        var url  = form.attr('action');

        //serialize the data
        var formData  = form.serialize();
        trimWhiteSpace();
        //send the Put request
        $.ajax({
          url:url,
          type: 'PUT',
          data: formData,
          success: function(response){
            console.log("Success")
            location.reload();
          },
          error: function(response){
            console.error('Put request failed', response.error);
          }
        });
  
      }
    $(document).ready(function (){
      
      $('.deleteQuestion').click(function (event){
        event.preventDefault;
        var childCount = $('.question-div').length;
        console.log(childCount);
        if(childCount > 1){
          var dataIndex = $(this).data("question-index");
          $('#question'+dataIndex).remove();
          var outerCounter = 0;
            //recalibrate 
          $('textarea').each(function (index){
            var textarea = $(this);
            //rename the div tag
            if(textarea.hasClass("question")){
              textarea.attr('name',`questions[${outerCounter}][question]]`);
            }else if(textarea.hasClass("answer")){
              textarea.attr('name',`questions[${outerCounter}][answer]]`);
            }else if(textarea.hasClass("incorrectAnswer1")){
              textarea.attr('name',`questions[${outerCounter}][incorrectAnswer1]]`);
            }else if(textarea.hasClass("incorrectAnswer2")){
              textarea.attr('name',`questions[${outerCounter}][incorrectAnswer2]]`);
              outerCounter++; 
            }
          });

          //rename the #id of the question
          $('.question-div').each(function(index){
            var div = $(this);
            div.attr('id',`question${index}`);  
          });

          updateQuiz();
        }else{
          var div = $(this);
          console.log(div);
          div.next().after('<span class="error" >You can\'t delete all your questions </span>'); 
          // alert('You can\'t delete all your questions ');
        }
      
        //send the data to the server

        // const questionElement = document.querySelector(`textarea[name="questions[${dataIndex}][question]"]`);
        // const questionArea = $(`textarea[name="questions[${dataIndex}][question]"]`);
        // questionArea.attr('name',`questions[${dataIndex-1}][question]"]`);

      
        // console.log(questionElement);
        //send a put request to edit the fields 
      });

      //edit data
      $('#quizForm').submit(function (event){
        event.preventDefault();
     
        var form = $(this);
        var url  = form.attr('action');
        trimWhiteSpace();
        //serialize the data
        var formData  = form.serialize();

       var add = true;
       form.find('textarea').each(function () {
           var textarea = $(this); 
          //check if the textarea is empty 
          if($(this).val() === ''){
            $('.error').val('');
            var emptyText = $('<span class="empty-text">This field should not be empty</span>');
            textarea.after(emptyText);
            console.log("empty data");
            add = false
          }
        });
        if(add){
               //send the Put request
        $.ajax({
          url:url,
          type: 'PUT',
          data: formData,
          success: function(response){
            console.log("Success")
            location.reload();
          },
          error: function(response){
            console.log(response.responseJSON);
            if(response.responseJSON){
              const $message = $('.message');
              $message.css('color', 'red').removeClass('hidden');
              $message.empty();
              response.responseJSON.forEach(element => {
                console.log(element);
                $message.append("<br>"+element.msg);
              });
            }
          }
        });
        }
   
      });
      

      $('#add-question').click(function(event){
        event.preventDefault();
        var childCount = $('#question-div').length;
        console.log(childCount);
        const questionValue = "";
        const answerValue = "";
        const incorrectAnswer1Value = "";
        const incorrectAnswer2Value = "";
        var entityIndex = childCount+1;
        const questionTemplate = `
         <div  class="quiz-detail">
         
              <div class="entityRow course">
          <div class="question-div" id="question${entityIndex+1}">
            <label for="question">Question:</label>
            <textarea class="form-control"  name="questions[${entityIndex}][question]"rows="2" cols="50" >${questionValue}</textarea>
            <label for="answer">Answer:</label>
            <textarea class="form-control"  name="questions[${entityIndex}][answer]"rows="2" cols="50" >${answerValue}</textarea>
            <label for="incorrectAnswer1">Incorrect Answer 1:</label>
            <textarea class="form-control"  name="questions[${entityIndex}][incorrectAnswer1]" rows="2" cols="50" >${incorrectAnswer1Value}</textarea>
            <label for="incorrectAnswer2">Incorrect Answer 2:</label>
            <textarea class="form-control"  name="questions[${entityIndex}][incorrectAnswer2]" rows="2" cols="50" >${incorrectAnswer2Value}</textarea>
          </div>
      
         </div>
         </div>
       
          <button class="view-course-btn">Save question</button>
          <br/>
          <div id="message" class="hidden"></div>  
        `;
        $('#quizForm').append(questionTemplate);
      })

    });
  </script>
  <%- include('partials/footer') %>
</body>
</html>
