<!DOCTYPE html>
<html>

  <title>user-dashboard</title>
  <%- include('../partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('../partials/clientNav') %>
  <br/>

  <div class="dash-container">

    <div class="dash-column">
      <p><b>Popular courses</b></p>
      <div class="course-container">
        <% topCourses.forEach(function(course) { %>
          <div class="course-card  p-3">
            <div class="row align-items-start">
              <div class="">
                <img src="<%=course.courseImage %>" alt="Course 1" class="img-fluid">
              </div>
              <div class="col-12"> 
                <p class="small text-secondary"><%=course.category.name%></p>
                <h4 ><%=course.title%></h4  >
                
                
                <div>
                  <% const rating = course.rating; %>
                  <% const fullStars = Math.floor(rating); %>
                  <% const halfStar = rating % 1 !== 0 || rating === 0; %>
                  
                  <% for (let i = 0; i < fullStars; i++) { %>
                    <i class="fa fa-star text-warning"></i>
                  <% } %>
                  
                  <% if (halfStar) { %>
                    <i class="fa fa-star-half-o text-warning"></i>
                  <% } %>
                  <span class="time"><i class="fa fa-clock-o clock" aria-hidden="true"></i> 23 hours</span>
                </div>
                <p class="course-description"><%= course.courseDesc %></p>
              </div>
              <div class="col-12 card-bottom"> 
              <a href="/course/view/<%=course._id %>"><button class="btn btn-outline-primary my-2 my-sm-0">View</button></a>
              </div>
            </div>
            
          
        </div>
           <% }); %>  
      </div>
      <br/>
      <p><b>Your Courses</b></p>
      <div class="course-container">
      
        
        <% courses.forEach(function(course) { %>
         <div class="course-card  p-3">
           <div class="row align-items-start">
             <div class="">
               <img src="<%=course.courseImage %>" alt="Course 1" class="img-fluid">
             </div>
             <div class="col-12"> 
               <h2 ><%=course.title%></h2>
               <p class="small text-secondary"><%=course.category.name%></p>
               <p><%= course.courseDesc %></p>
               
               <div>

                <% const rating = course.rating; %>
                <% const fullStars = Math.floor(rating); %>
                <% const halfStar = rating % 1 !== 0 || rating === 0; %>
                
                <% for (let i = 0; i < fullStars; i++) { %>
                  <i class="fa fa-star text-warning"></i>
                <% } %>
                
                <% if (halfStar) { %>
                  <i class="fa fa-star-half-o text-warning"></i>
                <% } %>
                
                <span class="time"><i class="fa fa-clock-o clock" aria-hidden="true"></i> 23 hours</span>
              </div>
             </div>
             <div class="col-12 card-bottom"> 
              <a href="/topics/<%=course._id %>"><button class="btn btn-outline-primary my-2 my-sm-0">Continue</button></a>
              <span class="completed"><%=course.percentage %>% completed</span>
              </div>
                
           </div>
          
          
          
       </div>
          <% }); %>  
      </div>
    </div>
    <div class="filter-column">
     
      <h3>Search Filter</h3>
      <form>
        <label for="category">Search by Category:</label>
        <select class="form-control form-rounded"  id="category">
          <option value="">All Categories</option>
          <option value="web">Web Development</option>
          <option value="design">Design</option>
          <option value="marketing">Marketing</option>
        </select>
        <br>
        <label for="ratings">Search by Ratings:</label>
        <br>
        <select class="form-control form-rounded"  id="ratings">
          <option value="">All Ratings</option>
          <option value="5">5 Stars</option>
          <option value="4">4 Stars</option>
          <option value="3">3 Stars</option>
          <option value="2">2 Stars</option>
          <option value="1">1 Star</option>
        </select>
       
        <button type="submit" class=" trans-btn-sm">Search</button>
      </form>
      
      </div>
    </div>
  </div>  


 
<script>
  
</script>
<%- include('../partials/footer') %>

</body>
