<!DOCTYPE html>
<html>

  <title>user-dashboard</title>
  <%- include('../partials/header') %>

<body>
  <!-- Navigation -->
  <%- include('../partials/clientNav') %>
  <br/>
<div id="accordion">
    <% if(courses.length == 0){ %>
        <p>You have not registered for any course</p>
     <%}%>
     <% topCourses.forEach(function(course) { %>
        <div class="card">
          <div class="card-header" id="<%=course._id %>">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=course._id+course._id %>" aria-expanded="false" aria-controls="collapseTwo">
                      <i class="flaticon-question"></i> <%= course.title %>
                  </button>
                  <form action="course/register" method="POST">
                    <input type="hidden" value="<%=course._id %>" name="courseId" />
                    <button class="btn">Register</button>
                  </form>
                 
                     
              </h5>
          </div>
          <div id="<%=course._id+course._id %>" class="collapse" aria-labelledby="<%=course._id %>" data-parent="#accordion">
              <div class="card-body">
                <%= course.courseDesc %>
              </div>
              <img src="<%=course.courseImage%>"/>
          </div>
        </div>
    <% }); %>   
    <p>Your Courses</p>
    <% courses.forEach(function(course) { %>
      <div class="card">
        <div class="card-header" id="<%=course._id %>">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%=course._id+course._id %>" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="flaticon-question"></i> <%= course.title %>
                </button>
            
                <span><a href="/topics/<%=course._id %>"> continue</a></span>
                   
            </h5>
        </div>
        <div id="<%=course._id+course._id %>" class="collapse" aria-labelledby="<%=course._id %>" data-parent="#accordion">
            <div class="card-body">
              <%= course.courseDesc %>
            </div>
            <img src="<%=course.courseImage%>"/>
        </div>
      </div>
  <% }); %>
  </div>
</div>
 </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
